.Result_body {
    /* margin-right: 70px; */
    /* width: 1280px; */
		margin: 0 auto;
}
/* line_title */
.line_title {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding-bottom: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 900;
	border-bottom: 4px solid rgba(0, 0, 0, 0.04);
	width: 830px;
}
.line_title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 145px;
	border-bottom: 4px solid;
}


.line_title .ff_en .page{
	font-size: 2rem;
	vertical-align: middle;
	margin-right: 0.1em;
  padding: 1em;
	line-height: 1.4;
}

.column_main{
	margin: 0 4px;
}

.articles_totals_wrapper{
	margin: 0 4px;
}
.articles_totals {
	/* position: relative; */
	margin: 50px auto 40px;
  /* justify-content:space-between; */
  align-items:center;
  /* align-content:space-around; */
	display: flex;
	border-bottom: 3px solid;
	max-width: 830px;
	/* border-width: 0px 0px 3px 0px; */
}
/* .articles_totals .total{
	padding-bottom: 6px;
	border-bottom: 4px solid;
	font-size: 2.4rem;
	line-height: 1.5;
} */
.articles_list{
  position: relative;
  min-height: 135px;
  padding-bottom: 30px;
  font-size:1.3em;
}
.articles_list article a{
 align-items: flex-start;
 justify-content: space-between;
}

.total ff_en .searchArea {
  display:flex;
}

.Result_span {
	font-size: 3rem;
  font-weight:bold;
	max-width: 400px;
	min-width: 310px;
	width: 90vw;
	height: 300px;
	display: inline-block;;
}

.Result_img {
	/* width: 400px;
	height: 300px; */
		width: 100%;
	height: 100%;
	object-fit: cover;
}

.pagenavi {
	margin-top: 70px;
	display: flex;
  justify-content: center;
	width: 775px;
}
.wp-pagenavi {
 flex-wrap: wrap;
 padding: 0 40px;
 font-size: 2rem;
 }
.wp-pagenavi {
 position: relative;
 display: flex;
 justify-content: center;
 padding: 0 30px;
 font-size: 1.6rem;
 line-height: 1.2;
 font-family: 'Arvo', sans-serif;
 font-weight: 700;
}
.wp-pagenavi .current{
  border-bottom: 2px solid;
}

.wp-pagenavi a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.wp-pagenavi > * {
  margin: 5px 6px;
	position: relative;
	display: block;
	padding: 3px;
	margin: 5px 10px;
  font-size: 2rem;
  margin-top:40px;
}

.kcal {
  font-size:2.5rem;
}

.Result_select1 {
 font-size:20px;
 height:50px;
 width: 250px;
 text-align: center;
 margin-right:15px;
 cursor: pointer;
 border-left: 3px solid;
 border-top: 3px solid;
 border-right: 3px solid;
 border-radius: 4px 4px 0 0;
}

.Result_star {
	margin: 30px 0 30px 0;
}

.theme_bg {
  background-color: #d7d7dd;
	width: 135px;
  height:auto;
	color:#000;
	display:inline-block;
	margin: 10px 4px 0px 0;
	text-align: center;
	font-size:15px;
}
.articles_list article a .cat ul {
	margin-right: 5px;
	padding: 2px 5px;
	background-color: #000;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 1.5;
}
.articles_list article a .cat{
	display: flex;
	margin-bottom: 10px;
}

.ul {
  list-style:none;
  margin:0;
  padding:0;
}

.searchArea {
	display:flex;
	margin-left: auto;

}

.Result_form {
	margin-right:10px;
}

.content {
	width: 500px;
	margin:30px 50px;
}

.mgzn {
	/* display: flex; */
	font-size:25px;
	font-weight: bold;
	margin: 20px 0 20px 0;
	max-width: 776px;
}
.mgzn1 {
    display: inline-block;
}

.mgzn2 {
	margin-left: 55px;
	width:300px;
    display: inline-block;

}

.time {
	display:block;
	font-size: 15px;
	font-weight: bold;
}

.detail {
	color:black;

}



.Result_a {
	color: #000;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}

.title {
	font-size: 25px;
	font-weight: bold;
	margin:15px 0 15px 0;
  display: inline;
	border-bottom : 1px solid;
	line-height:1.5;
}

.kcal {
	font-size: 30px;
	font-weight: bold;
}

.Result_p {
	color: #000;
}

.total {
	font-size:35px;
	font-weight: bold;
}

.msg {
	font-size:35px;
	font-weight: bold;
	margin-top:50px;
}

.main {
  /* margin-left: 70px; */
	margin: 0 auto;
	max-width: 1280px;
}

/* ------------ページネーションのデザイン。ここを変えてください---------- */

		.pagination{
			margin-top: 15px;
			padding-top: 40px;
			border-top: 1px dashed #ccc;
		}
		.pagination-container ul{
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.pagination-container li + li{ margin-left: -1px; }
		.pagination-container a{
			padding: 10px 20px;
			display: block;
			color: #375;
			border: 1px solid #d6d6d6;
			text-decoration: none;
			background: #fff;
		}
		.pagination-container .navi-active a{
			font-weight: bold;
			background: #d7d7d7;
		}
		.pagination-container a:hover{
			color: #fff;
			background: #375;
		}



@media screen and (max-width: 640px) {
	.Result_a{
		justify-content: center;
	}
	.mgzn2{
		margin: auto;
	}
	.total{
		font-size: 24px;
	}
	.Result_select1{
		height: 40px;
    width: 120px;
		margin-right: 0;
	}
	.searchArea input[type="image"]{
		margin: 0 8px 0 0;
	}

	.Result_img{
		object-fit: contain;
	}
}
